.choresText{
   color: limegreen;
   font-family: "New Amsterdam", sans-serif;
   font-size: 1.3vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: rgb(127, 71, 71);
   text-align: left;
   font-size: 1.3vw;
}