.choresText {
   color: limegreen;
   font-family: "New Amsterdam", sans-serif;
   font-size: 30px;
   text-decoration: underline;
   font-style: italic;
   text-align: right;
}

.choresHeading {
   color: black;
   text-align: right;
}